.tagColor {
    color: black !important;
}
.noClick {
    pointer-events: none;
}

.noClick .rw-tag-btn {
    display: none;
}

.noInput input {
    display: none;
}

.identifyDate .rw-calendar-popup .rw-footer .rw-btn {
    display: none;
}

.tableDisplay {
    margin-bottom: 20px !important;
    margin-top: 15px !important;
}

.tableInfos {
    height: 200px;
}

.searchTier {
    margin-top: 5px;
}

.table-accord {
    max-height: 100% !important;
    overflow: auto;
}
